# GlareDB Analysis of Online Retail Dataset

This notebook loads the previously saved CSV files from the 'sets' directory and analyzes them using GlareDB, with focus on the dataset containing invoice numbers without letters.

In [1]:
# Install GlareDB package
!pip install --quiet glaredb

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [2]:
# Import necessary libraries
import pandas as pd
import os
import glaredb
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Connect to GlareDB
conn = glaredb.connect()
print("Connected to GlareDB")

Connected to GlareDB

In [6]:
# Define path to the sets directory and file paths
sets_dir = os.path.join(os.getcwd(), 'sets')

# Locate both datasets in CSV files
letters_file = os.path.join(sets_dir, 'invoices_with_letters.csv')
no_letters_file = os.path.join(sets_dir, 'invoices_no_letters.csv')

# Check if files exist
if os.path.exists(letters_file) and os.path.exists(no_letters_file):
    print(f"Found CSV files at:\n- {letters_file}\n- {no_letters_file}")
else:
    print("Error: One or both files not found in the sets directory!")

Found CSV files at:
- /home/coder/src/query/sets/invoices_with_letters.csv
- /home/coder/src/query/sets/invoices_no_letters.csv

In [ ]:
# Execute DESCRIBE on the dataset with no letters
print("Describing the structure of the dataset with no letters:")
conn.sql("DESCRIBE './sets/invoices_no_letters.csv'").show()

Describing the structure of the dataset with no letters:
┌────────────────────┬──────────┐
│ column_name        │ datatype │
│ Utf8               │ Utf8     │
├────────────────────┼──────────┤
│ InvoiceNo          │ Int64    │
│ StockCode          │ Utf8     │
│ Description        │ Utf8     │
│ Quantity           │ Int64    │
│ InvoiceDate        │ Utf8     │
│ UnitPrice          │ Float64  │
│ CustomerID         │ Float64  │
│ Country            │ Utf8     │
│ starts_with_letter │ Utf8     │
└────────────────────┴──────────┘

In [9]:
# Execute COUNT(*) on the dataset with no letters
print("Counting rows in the dataset with no letters:")
conn.sql("SELECT COUNT(*) FROM './sets/invoices_no_letters.csv'").show()

Counting rows in the dataset with no letters:
┌────────┐
│ count  │
│ Int64  │
├────────┤
│ 532618 │
└────────┘

In [ ]:
# Execute SELECT * LIMIT 10 on the dataset with no letters
print("Selecting 10 sample rows from the dataset with no letters:")
conn.sql("SELECT * FROM './sets/invoices_no_letters.csv' LIMIT 10").show()

Selecting 5 sample rows from the dataset with no letters:
┌───────────┬───────────┬───────────────┬──────────┬───┬────────────┬─────────┬────────────────────┐
│ InvoiceNo │ StockCode │ Description   │ Quantity │ … │ CustomerID │ Country │ starts_with_letter │
│ Int64     │ Utf8      │ Utf8          │ Int64    │   │ Float64    │ Utf8    │ Utf8               │
├───────────┼───────────┼───────────────┼──────────┼───┼────────────┼─────────┼────────────────────┤
│    536365 │ 85123A    │ WHITE HANGIN… │        6 │ … │      17850 │ United… │ False              │
│    536365 │ 71053     │ WHITE METAL … │        6 │ … │      17850 │ United… │ False              │
│    536365 │ 84406B    │ CREAM CUPID … │        8 │ … │      17850 │ United… │ False              │
│    536365 │ 84029G    │ KNITTED UNIO… │        6 │ … │      17850 │ United… │ False              │
│    536365 │ 84029E    │ RED WOOLLY H… │        6 │ … │      17850 │ United… │ False              │
│    536365 │ 22752     │ SET 7 BABUSH… │        2 │ … │      17850 │ United… │ False              │
│    536365 │ 21730     │ GLASS STAR F… │        6 │ … │      17850 │ United… │ False              │
│    536366 │ 22633     │ HAND WARMER … │        6 │ … │      17850 │ United… │ False              │
│    536366 │ 22632     │ HAND WARMER … │        6 │ … │      17850 │ United… │ False              │
│    536367 │ 84879     │ ASSORTED COL… │       32 │ … │      13047 │ United… │ False              │
└───────────┴───────────┴───────────────┴──────────┴───┴────────────┴─────────┴────────────────────┘

In [11]:
# Execute DESCRIBE on the dataset with letters
print("Describing the structure of the dataset with letters:")
conn.sql("DESCRIBE './sets/invoices_with_letters.csv'").show()

Describing the structure of the dataset with letters:
┌────────────────────┬──────────┐
│ column_name        │ datatype │
│ Utf8               │ Utf8     │
├────────────────────┼──────────┤
│ InvoiceNo          │ Utf8     │
│ StockCode          │ Utf8     │
│ Description        │ Utf8     │
│ Quantity           │ Int64    │
│ InvoiceDate        │ Utf8     │
│ UnitPrice          │ Float64  │
│ CustomerID         │ Float64  │
│ Country            │ Utf8     │
│ starts_with_letter │ Utf8     │
└────────────────────┴──────────┘

In [12]:
# Execute COUNT(*) on the dataset with letters
print("Counting rows in the dataset with letters:")
conn.sql("SELECT COUNT(*) FROM './sets/invoices_with_letters.csv'").show()

Counting rows in the dataset with letters:
┌───────┐
│ count │
│ Int64 │
├───────┤
│  9291 │
└───────┘

In [13]:
# Execute SELECT * LIMIT 10 on the dataset with letters
print("Selecting 10 sample rows from the dataset with letters:")
conn.sql("SELECT * FROM './sets/invoices_with_letters.csv' LIMIT 10").show()

Selecting 10 sample rows from the dataset with letters:
┌───────────┬───────────┬───────────────┬──────────┬───┬────────────┬─────────┬────────────────────┐
│ InvoiceNo │ StockCode │ Description   │ Quantity │ … │ CustomerID │ Country │ starts_with_letter │
│ Utf8      │ Utf8      │ Utf8          │ Int64    │   │ Float64    │ Utf8    │ Utf8               │
├───────────┼───────────┼───────────────┼──────────┼───┼────────────┼─────────┼────────────────────┤
│ C536379   │ D         │ Discount      │       -1 │ … │      14527 │ United… │ True               │
│ C536383   │ 35004C    │ SET OF 3 COL… │       -1 │ … │      15311 │ United… │ True               │
│ C536391   │ 22556     │ PLASTERS IN … │      -12 │ … │      17548 │ United… │ True               │
│ C536391   │ 21984     │ PACK OF 12 P… │      -24 │ … │      17548 │ United… │ True               │
│ C536391   │ 21983     │ PACK OF 12 B… │      -24 │ … │      17548 │ United… │ True               │
│ C536391   │ 21980     │ PACK OF 12 R… │      -24 │ … │      17548 │ United… │ True               │
│ C536391   │ 21484     │ CHICK GREY H… │      -12 │ … │      17548 │ United… │ True               │
│ C536391   │ 22557     │ PLASTERS IN … │      -12 │ … │      17548 │ United… │ True               │
│ C536391   │ 22553     │ PLASTERS IN … │      -24 │ … │      17548 │ United… │ True               │
│ C536506   │ 22960     │ JAM MAKING S… │       -6 │ … │      17897 │ United… │ True               │
└───────────┴───────────┴───────────────┴──────────┴───┴────────────┴─────────┴────────────────────┘

In [14]:
# Execute SELECT * LIMIT 10 on the dataset with letters
print("Selecting 10 sample rows from the dataset with letters:")
conn.sql("SELECT * FROM 'https://raw.githubusercontent.com/databricks/Spark-The-Definitive-Guide/refs/heads/master/data/retail-data/all/online-retail-dataset.csv' LIMIT 10").show()

Selecting 10 sample rows from the dataset with letters:

RuntimeError: Failed to parse 'C536379' as Int64

In [15]:
# Execute SELECT * LIMIT 10 on the dataset with letters
print("Selecting 10 sample rows from the dataset with letters:")
conn.sql("SELECT * FROM './sets/original_dataset.csv' LIMIT 10").show()

Selecting 10 sample rows from the dataset with letters:

RuntimeError: Failed to parse 'C536379' as Int64

In [ ]:
# Close the GlareDB connection
conn.close()
print("GlareDB connection closed")